/* On mouse hover, lighten state color */
path:hover {
	fill-opacity: .7;
}

/* Style for Custom Tooltip */
div.tooltip {
 	position: absolute;
	text-align: center;
	width: 60px;
	height: 28px;
	padding: 2px;
	font: 12px sans-serif;
	background: white;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

/* Legend Font Style */
body {
	font: 11px sans-serif;
}

/* Legend Position Style */
.legend {
	position:relative;
	left:800px;
	top:350px;
}

credits: {
      enabled: false
  },

body {
    font-family: 'Archivo Narrow', sans-serif;
    overflow-x: hidden;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-weight: 100;
    color: #292929;
}

div {
    margin: auto;
    padding: auto;
    height:100vh;
}

svg {
    margin: 0;
}

h1 {
    font-family: 'Cutive', sans-serif;
    font-size: 100;
    color: #292929;
}

h2 {
    font-family: 'Cutive', sans-serif;
    font-size: 30;
    color: #292929;
}


p {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 14;
    color: rgb(0, 0, 0);
}

h3 {
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 2vw;
    color: rgb(0, 0, 0);
}

img.right {
    float:right;
}

text {
    font-family: "Cutive";
    font-size: 1vw;
    alignment-baseline: middle;
}

.axis path, .axis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 6px;
}

div#graph-div {
    border: 1px solid black;
    background-color: #e6e6e6;
}

div#map-div {
    border: 1px solid white;
    background-color: white;
}

div#container {
    border: 1px solid black;
    background-color: white;
}
div#container1 {
    border: 1px solid black;
    background-color: white;
}
div#container2 {
    border: 1px solid black;
    background-color: white;
}

#graphSVG {
    float: right;
}

#graphSVG text {
    font-size: 1vw;
    fill: black;
}

div#header-div {
    margin:0px;
    background: white;
    width: 100%;
    height: 75px;
    background-image: url('Capture.png');
    background-position: right;
    background-repeat: no-repeat;
    text-align: left;
    vertical-align: top;
    display: table;
		border: 5px solid black;
}

div#header1-div {
    margin:0px;
    background: white;
    width: 100%;
    height: 25px;
    /*background-image: url('Capture.png');*/
    background-position: right;
    background-repeat: no-repeat;
    text-align: center;
    vertical-align: bottom;
    display: table;
}

div#map-div {
    margin:0px;
    background: white;
    width: 100%;
    height: 155px;
    text-align: right;
    vertical-align: top;
    display: table;
}

#header-div img {
    max-width: 100%;
    max-height: 100%;
}

.centerPseudo {
    display: inline-block;
    text-align: center;
}

#rcorners1 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

#intro {
    background-color: #e6e6e6;
    background-size: 100%;
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 50px;
    padding-left: 50px;
    border: 1px solid black;
    height: 430px;
}

#intro1 {
    background-color: white;
    background-size: 100%;
    margin-left: 30%;
    margin-right: 25%;
    padding-top: 50px;
    padding-bottom: 0px;
    padding-right: 50px;
    padding-left: 50px;
    border: 1px solid white;
    height: 430px;
}

#outro {
    background-color: #e6e6e6;
    background-size: 100%;
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 50px;
    padding-left: 50px;
    border: 1px solid black;
}

div#paragraph {
    background-color: #bfbfbf;
    background-size: 100%;
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 10px;
    padding-left: 10px;
    border-style: dashed;
    border-color: black;
}

#graphSVG line {
    stroke: black;
}

#graphSVG circle {
    fill: black;
}

#title {
    color: black;
    font-weight: 100;
		font-size: 40px;
    vertical-align: middle;
		padding-top: 20px;
    display: table-cell;
}

#title1 {
    color: black;
    font-weight: 500;
    vertical-align: center;
    display: table-cell;
}

#cable {
    fill: none;
}

#names {
    width: auto;
    height: auto;
    text-align: center;
}

.cable-name {
    font-size: 14px;
}

#close-button {
    transition: transform 0.1s;
    transform-origin: center center;
}

#close-button:hover {
    transform: scale(0.9, 0.9);
}

p.explanation {
    font-size: 20px;
}
